.section {
  padding: 32px;
  text-align: center;
}

.section h3 {
  display: inline-block;
  font-size: 32px;
  border-bottom: 4px solid;
  padding-bottom: 8px;
}

.section .wrapper-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px 10px;
}
